/////////////////////////////////////////////////////////////
///Second set of colors, second theme
/////////////////////////////////////////////////////////////

:root [app-theme="green"]{
    //Help Card
    --app-help-text-clr: #008000;
    --app-help-bg-primary: #008000;
    --app-help-bg-secondary: #008000;
    --app-help-bg-tertiary: #008000;
}