/* Font style variables  */
$base_font_size: 12px;
$header_font_size: 14px;


/* Main font family variable */
$base_font_family: "Open Sans", Helvetica, sans-serif !important;


$font_size_primary: 13px;
$font_size_secondary: 14px;