{{page-title "MyProject"}}

<div>
    <LinkTo @route="color-picker">Colour Picker</LinkTo>
    <LinkTo @route="drum-kit">Drum Kit</LinkTo>
    <LinkTo @route="flex-box">Flex Box</LinkTo>
</div>
<br>
<br>
<br>
{{outlet}}